.container {
    position: absolute;
    grid-column: 6 / 13;
    width: calc(100vw * calc(53 / 192));
    height: calc(100vw * calc(53 / 192));
    margin-left: 55px;
    border: 1px solid rgba(48, 62, 88, 0.2);
    border-radius: 50%;
}

.wrapper {
    position: relative;
}
