.container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
}

.content {
    grid-column: 5 / 23;
    border: brown 2px solid;
    margin: 140px 0 107px 0;
}