
.year_container {
    margin-left: 218px;
}

.year {
    font-weight: 700;
    font-size: 200px;
    line-height: 80%;
    letter-spacing: -0.02em;
    color: var(--iris);
}

.year:first-child {
    margin-right: 96px;
}


.year:last-child {
    color: var(--fuschia);
}

@media (max-width: 1700px) {
    .year {
        font-size: 150px;
    }
    .year:first-child {
        margin-right: 72px;
    }
}

@media (max-width: 1400px) {
    .year {
        font-size: 120px;
    }
    .year:first-child {
        margin-right: 72px;
    }
    .year_container {
        margin-left: 158px;
    }
}

@media (max-width: 1060px) {
    .year {
        font-size: 85px;
    }
    .year:first-child {
        margin-right: 41px;
    }
    .year_container {
        margin-left: 120px;
    }
}

@media (max-width: 820px) {
    .year_container {
        margin: 0;
    }
    .year {
        font-size: 56px;
    }
    .year:first-child {
        margin-right: 26px;
    }
}